.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 1rem;
  & > a {
    font-size: x-large;
    text-decoration: none;
    & > span {
      display: inline-block;
      margin-left: 0.8rem;
    }
  }
}
